body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3e663a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.province-title {
    font-size: 22px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    padding-bottom: 10px;
}

.province-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.region {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 48%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.region:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
} /* จัดให้กรอบภาคเหนือตอนล่างอยู่ตรงกลาง */

.region:hover {
    transform: scale(1.05);
}

.region h3 {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.region h3::before {
    content: '\25B6'; /* ลูกศร */
    color: white;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.region ul {
    list-style: none;
    padding: 0;
    columns: 2;
    column-gap: 15px;
    width: 100%;
}

.region ul li {
    margin: 5px 0;
    break-inside: avoid;
    text-align: left;
    padding-left: 10px;
}

.region ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    transition: color 0.3s ease;
}

.region ul li a:hover {
    color: #e74c3c;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}








